---
---
@import "{{ site.theme }}";

a {
    color: #10b981 !important;
}

a:hover {
    color: #059669 !important;
}

#header_wrap {
    background: linear-gradient(to right, #064e3b, #065f46) !important;
    border-bottom: 1px solid #047857 !important;
}

#forkme_banner {
    background: #f2f2f2 !important;
    color: #212121 !important;
    border-bottom: 1px solid #111 !important;
}
